.home-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  //day-theme
  background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);  
  // night-theme
    background-image: linear-gradient(to right top, #13366b, #2d254b, #2a182e, #1d0e17, #000000);
    .content {
      margin:160px auto;
      text-align: center;
      max-width: 500px;

      h2 {
        font-size: 60px;
        font-weight: 700;
        margin: 0;
        color:white

      }
      p {
        font-size: 18px;
        font-weight: 300;
        color:white

      }
      .action-btn {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .btn {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          padding: 15px;
          border: none;
          outline: none;
          background: none;
          border-radius: 5px;
          color: white;
          text-decoration: none;
          .icon-block {
            padding-right: 10px;
          }
        }
        .newMeeting{
          margin-bottom: 20px;
        }
        .input-block {
          margin-left: 20px;
          display: flex;
          flex: 1;
          .input-section {
            position: relative;
            margin-right: 10px;
            .icon-block {
              position: absolute;
              top: 50%;
              transform: translate(10px, -50%);
              color: #5f6368;
            }
            input {
              font-size: 16px;
              height: 48px;
              border: 1px solid #ccc;
              border-radius: 5px;
              padding-left: 35px;
              width: 100%;
              box-sizing: border-box;
              outline: none;
              border-radius: 30px;
            }
           
          }
          .joinBtn{
            margin-left: -50px;
            background-color: black;
            border-radius: 30px;
            padding-left: 55px;
            padding-right: 15px;
            opacity: 1;
          }
        }
      }
    }
  
}
